<div class="container">

<div class="row" style="margin-top: 20px">
  <div class="col-sm-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Send file<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <form class="form-inline">
            <div class="form-group mx-sm-3">
              <input style="height: 35px;" type="file" name="file" class="form-control form-control-sm btn_details" (change)="onSelected($event)">
            </div>
            <button type="button" class="btn btn-default btn-sm btn_details" (click)="onUpload()">save</button>
          </form>

        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>



<div class="row" style="margin-top: 20px" *ngIf="myfiles.length > 0">
  <div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>file name <i class="fa fa-sort float-right" aria-hidden="true"></i></th>
        <th>creation date<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
        <th>size<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
        <th>download<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
        <th>delete<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
        <th>type<i class="fa fa-sort float-right" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of myfiles">
        <td>{{file.name}}</td>
        <td>{{file.creationTime | date}}</td>
        <td>{{file.size}}</td>
        <td><a href="{{file.downloadUri}}">download</a></td>
        <td><a href="#" (click)="delete(file.fileDeleteUri)">delete</a> </td>
        <td>{{file.fileType}}</td>

      </tr>
    </tbody>
  </table>
</div>
</div>
</div>